<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>RS-Pedia</title>
    <!-- Font Awesome -->
    {{ style('css/font-awesome.min.css') }}
    <!-- Bootstrap core CSS -->
    {{ style('css/bootstrap.min.css') }}
    <!-- Material Design Bootstrap -->
    {{ style('css/mdb.min.css') }}
    <!-- Your custom styles (optional) -->
    {{ style('css/materialdesignicons.min.css') }}
    {{ style('css/style.css') }}

    @!section('css')
</head>

<body class="grey lighten-3">

    @include('inc/navbar')

    @!section('before-content')

    <!--Main layout-->
    <main class="mt-5 pt-5">
        <div class="container">

            <!--Section: Main info-->
            <section class="wow fadeIn">

                @!section('content')

            </section>
            <!--Section: Main info-->

        </div>
    </main>
    <!--Main layout-->

    @include('inc/footer')

    <!-- SCRIPTS -->
    <!-- JQuery -->
    {{ script('js/jquery-3.2.1.min.js') }}
    <!-- Bootstrap tooltips -->
    {{ script('js/popper.min.js') }}
    <!-- Bootstrap core JavaScript -->
    {{ script('js/bootstrap.min.js') }}
    <!-- MDB core JavaScript -->
    {{ script('js/mdb.min.js') }}
    <!-- Your custom script (optional) -->
    {{ script('js/script.js') }}

    @!section('script')
</body>

</html>
