<!--Footer-->
    <footer class="page-footer text-center font-small mt-4 wow fadeIn">

        <!--Copyright-->
        <div class="footer-copyright py-3">
            © 2018 Copyright: <a href="/" > RS-Pedia </a>
        </div>
        <!--/.Copyright-->

    </footer>
    <!--/.Footer-->
